
.App {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-body {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.card_list {
  overflow-y: scroll;
  max-height: 90vh;
  border: 1px solid white
}

.filters {
  display: flex;
  flex-direction: column;
}

select {
  height: 1.8rem;
  font-size: 1.4rem;
}

input {
  height: 1.8rem;
  font-size: 1.4rem;
}
